.home {
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
}

.content {
  background-color: rgb(255, 255, 255);
  display: relative;
  padding-top: 60px;
}

.text {
  outline: none;
  border: none;
  overflow: auto;
  background-color: inherit;
  font-size: 20px;
  width: 95%;
  height: 200px;
  resize: none;
}

.share {
  background-color: #2705e7;
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 5px;
}

@media screen and (min-width: 748px) {
  .home {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.postContainer {
  margin-bottom: 20px;
}

.loadMore {
  outline: none;
  border: 2px solid blue;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.loadMore:hover {
  cursor: pointer;
}
