.message {
  color: black;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
}

@media screen and (min-width: 748px) {
  .message {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.followingUnit {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid black;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 20px;
}

.followingUnit a {
  text-decoration: none;
  color: black;
}
