.post {
  padding: 30px;
  border-bottom: #2705e7 1px solid;
  margin: 1px;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

.postContent {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.postBar {
  width: 100%;
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.postBar button {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  outline: none;
  border: none;
  background-color: inherit;
}

.postBar button:hover {
  cursor: pointer;
}

.badge {
  background-color: black;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  color: aliceblue;
}

.liked {
  color: #071cda;
}

button.active {
  background-color: #1004c5;
  color: aliceblue;
}

.commentBox {
  outline: none;
  border: none;
  overflow: auto;
  background-color: inherit;
  font-size: 19px;
  width: 95%;
  height: 150px;
  resize: none;
}
